<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <!-- Material Design CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-cyan.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <!-- Referencia a FireBase / polymer webcomponents -->
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/login-fire/login-fire-social.html">
    <link rel="import" href="/bower_components/login-fire/login-fire-form.html">

    <title>HOME BANKING</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  <body>
    <div class="header">
      <img class="logo" src="img/logo.png"/>
      <div class="align-left">
        <button id="login" style="display: block" onclick="login()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Iniciar Sesión</button>
        <span id="nombre" style="display: none">Bienvenido/a</span>
        <img id="icono" class="avatar" style="display: none" src="img/avatar.svg"/>
      </div>
    </div>

    <div id="card" style="display: block">
        <!-- Image card -->
        <style>
        .demo-card-image.mdl-card {
          width: 256px;
          height: 256px;
          background: url('../recursos-home-banking/img/RickandMorty.jpg') center / cover;
          margin-left: auto;
          margin-right: auto;
        }
        .demo-card-image > .mdl-card__actions {
          height: 52px;
          padding: 16px;
          background: rgba(0, 0, 0, 0.2);
        }
        .demo-card-image__filename {
          color: #fff;
          font-size: 14px;
          font-weight: 500;
        }
        </style>

        <div class="demo-card-image mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand"></div>
          <div class="mdl-card__actions">
            <span class="demo-card-image__filename">Bienvenido/a al HomeBanking</span>
          </div>
        </div>
    </div>

<!-- Login FireBase -->
    <firebase-app
      name="social"
      api-key="AIzaSyBPuhyIWQae40xg0vkl1YfTx6lcsEc8IyI"
      auth-domain="homebanking-32700.firebaseapp.com"
      database-url="https://homebanking-32700.firebaseio.com">
    </firebase-app>

    <login-fire-social
      app-name="social"
      providers="google, facebook, twitter, github, anonymous" 
      user="{{user}}"
      signed-in="{{signedIn}}">
    </login-fire-social>

    <firebase-app
      name="email"
      api-key="AIzaSyBPuhyIWQae40xg0vkl1YfTx6lcsEc8IyI"
      auth-domain="homebanking-32700.firebaseapp.com"
      database-url="https://homebanking-32700.firebaseio.com">
    </firebase-app>

    <login-fire-form
      app-name="email"
      user="{{user}}"
      signed-in="{{signedIn}}">
    </login-fire-form>

    <div>
      

    </div>
    <div id="homebanking" style="display: none">
      <div class="white-container">
      <div class="menu-container">
        <h1 class="tu-cuenta">Tu cuenta</h1>
        <button class="links" onclick="extraerDinero()">Extraer dinero</button>
        <button class="links" onclick="depositarDinero()">Depositar dinero</button>
        <button class="links" onclick="pagarServicio()">Pagar servicios</button>
        <button class="links" onclick="agregarCuentafrecuente()">Agregar cuenta frecuente</button>
        <button class="links" onclick="transferirDinero()">Transferir dinero</button>
        <button class="links" onclick="cambiarLimiteDeExtraccion()">Cambiar límite de extracción</button>
      </div>
      <div class="green-container">
        <div class="cuenta-info">
          <p>Saldo en tu cuenta</p>
          <h3 id="saldo-cuenta">$</h3>
          <p id="limite-extraccion">Tu límite de extracción es: </p>
        </div>
      </div>
    </div>

    </div>
    
  </body>
  <script src="js/homebanking.js"></script>
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBPuhyIWQae40xg0vkl1YfTx6lcsEc8IyI",
      authDomain: "homebanking-32700.firebaseapp.com",
      databaseURL: "https://homebanking-32700.firebaseio.com",
      projectId: "homebanking-32700",
      storageBucket: "homebanking-32700.appspot.com",
      messagingSenderId: "940091348551"
    };
    firebase.initializeApp(config);
  </script>
</html>